.container{
    background-color: #0A080F;
    height: 500px;
    display: flex;
    justify-content: center;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.footer{
    margin-top: 120px;
    max-width: 250px;
    max-height:266px; 
}
.logo{
    margin-left: 60px;
    margin-bottom:50px;
}

.heading{
    text-transform:uppercase;
    text-align: center;
}
.info hr{
    width: 230px;
    margin-bottom: 15px;
    margin-top:15px;
}
.websites{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.copyright{
    font-size: 16px;
    width: 270px;
    margin-top: 85px;
}

.copyright span{
    color:#00C8FE;
}